{% extends 'page.html' %}
{% load static %}
{% block conteudo %}

    <div class="container mt-4">

        <h2 class="section-title">Colaboradores Participando</h2>
        <h4>Atividade: <strong>{{ atividade.nome }}</strong></h4>
        {% if user.is_authenticated %}
            <div style="display: flex; flex-direction: row; justify-content: end;">
                <a class="btn btn-success" href="{% url 'novo_colaborador' %}"
                   style="background-color: gray; border: gray">Cadastrar</a>
            </div>
        {% endif %}
        <div class="mt-4">
            {% if colaboradores_participando %}
                <table class="table table-striped" style="margin-top: 20px;">
                    <thead class='table'>

                    <tr>
                        <th>Docente</th>
                        <th>Formação</th>
                        <th>E-mail</th>
                        {% if user.is_authenticated %}
                            <th>Data de Inicio</th>
                            <th>Situação</th>
                            <th>Ações</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for al in colaboradores_participando %}
                        <tr>
                            <td>{{ al.fk_docente.nome }}</td>
                            <td>{{ al.fk_docente.formacao }}</td>
                            <td>{{ al.fk_docente.email }}</td>
                            <td>{{  al.data_inicio }}</td>
                            <td>{{  al.situacao }}</td>

                            {% if user.is_authenticated %}
                                <td>
                                    <a href="{% url 'editar_colaborador' al.pk %}" style="margin-left: 5px">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                    <a class="text-danger" href="{% url 'remover_colaborador' al.pk %}"
                                       style="margin-left: 5px">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <p class="text-muted">Nenhum Colaborador está participando desta atividade.</p>
            {% endif %}

        </div>

</div>

{% endblock conteudo %}
