{% extends 'page.html' %}
{% block conteudo %}
    <div class="content container mt-4">
        <h2 class="section-title">
            {{ form_titulo }}
        </h2>
        <div class="text-end">

            <a class="btn btn-success" href="{% url 'novo_curso' %}" style="background-color: gray; border: gray">Cadastrar <i class="bi bi-
plus-circle"></i></a>

        </div>
        <table class="table table-striped" style="margin-top: 20px;">
            <thead class='table'>

            <tr>
                <th>Nome</th>
                <th>Código</th>
                <th>Descrição</th>
            </tr>
            </thead>
            <tbody>
            {% for al in cursos %}
                <tr>
                    <td>{{ al.nome }}</td>
                    <td>{{ al.codigo }}</td>
                    <td>{{ al.descricao }}</td>
                    <td>
                        <a href="{% url 'editar_curso' al.pk %}" style="margin-left: 5px" >
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a class="text-danger" href="{% url 'remover_curso' al.pk %}" style="margin: 5px">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock conteudo %}