{% extends 'page.html' %}
{% load static %}
{% block conteudo %}

    <div class="container mt-4">

        <h2 class="section-title">Alunos Participando</h2>
        <h4>Atividade: <strong>{{ atividade.nome }}</strong></h4>
        {% if user.is_authenticated %}
            <div style="display: flex; flex-direction: row; justify-content: end;">
                <a class="btn btn-success" href="{% url 'aluno_form' %}"
                   style="background-color: gray; border: gray">Cadastrar</a>
            </div>
        {% endif %}

        <div class="mt-4">

            {% if alunos_participando %}
                <table class="table table-striped" style="margin-top: 20px;">
                    <thead class='table'>

                    <tr>
                        <th>Aluno</th>
                        <th>Matricula</th>
                        <th>Carga horaria semanal</th>
                        <th>Data de Inicio</th>
                        <th>Data de Termino</th>
                        {% if user.is_authenticated %}
                            <th>Ações</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for al in alunos_participando %}
                        <tr>
                            <td>{{ al.fk_aluno }}</td>
                            <td>{{ al.fk_aluno.matricula }}</td>
                            <td>{{ al.carga_horaria_semanal }}</td>
                            <td>{{ al.data_inicio }}</td>
                            <td>{{ al.data_final }}</td>

                            {% if user.is_authenticated %}
                                <td>
                                    <a href="{% url 'editar_paticipacao' al.pk %}" style="margin-left: 5px">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                    <a class="text-danger" href="{% url 'remover_participacao' al.pk %}"
                                       style="margin-left: 5px">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-muted">Nenhum aluno está participando desta atividade.</p>
            {% endif %}

        </div>

</div>

{% endblock conteudo %}
