/* Reset */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    background: black;

}

th {
    padding: 2px 6px;

}

td {
    padding: 0px 6px;

}

.menu {
    background: black;
    padding: 0 1.5rem;
    margin: 0 !important; /*Arrumei o espaço em branco*/
}

/*.menu__links {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    margin: 0 !important; !*Arrumei o espaço em branco*/
/*}*/

.menu__links a {
    display: block;
    color: white;
    padding: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.menu__links a:hover {
    background: rgba(175, 175, 175, 0.75);
    text-decoration: underline;
}
/* Parte do carrossel do exibir atividade */
.carousel {
    /*margin: 50px auto;*/
    width: 90%;
    /*border-radius: 15px;*/
    overflow: hidden;

}

.carousel-item img {
    height: 75vh;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.carousel-item:hover img {
    transform: scale(1.03);
}

.carousel-caption {
    bottom: 40px;

}

.carousel-caption h5 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.carousel-caption p {
    color: #ddd;
}

/*  Botões de navegação  */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 20px;
}


.infos {
    background: white;


}



.titulo_projeto {
    font-size: 2.8rem;
    font-weight: 950;
    color: orange;
    margin-bottom: 60px;
    text-align: start;
}

.infos h3 {
    color: #343a40;
    margin-top: 30px;
    margin-bottom: 30px;
}

.infos p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    color: #555;
}

.detalhes h4 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 500;
}

.container {
    max-width: 900px;
    margin: auto;
}

/* é para ser para responsividade */
@media (max-width: 768px) {
    .carousel-item img {
        height: 50vh;
    }

    .titulo-projeto {
        font-size: 2rem;
    }

    .infos {
        padding: 25px;
    }
}

.icone_projeto {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    vertical-align: middle;
}





/* Estilo para o Título principal */
.section-title {
    font-size: 3.5rem;
    font-weight: bold;
    color: #333; 
    margin-bottom: 2rem;
}

/* Estilo para a Área de Pesquisa quenão foi possivel terminar */
/*.search-area {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*}*/

/*.search-input {*/
/*    border: none;*/
/*    border-radius: 50px 0 0 50px;
/*    padding: 10px 20px;*/
/*    font-size: 1rem;*/
/*    width: 250px;*/
/*    background-color: #f0f0f0;*/
/*    outline: none;*/
/*}*/

/*.search-button {*/
/*    background-color: #f0f0f0;*/
/*    border: none;*/
/*    border-radius: 0 50px 50px 0; 
/*    padding: 10px 15px;*/
/*    cursor: pointer;*/
/*}*/

/*.search-button i {*/
/*    font-size: 1.2rem;*/
/*    color: #666;*/
/*}*/

/* Container organiza a lista de atividades */
.activities-list {
    display: flex;
    flex-direction: column; 
    gap: 15px;
}


.activity-card {
    display: flex; 
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #e5e5e5; 
    border-radius: 15px; 
    text-decoration: none; 
    color: inherit;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Efeito ao passar o mouse */
.activity-card:hover {
    transform: translateY(-3px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
}


.card-section {
    flex: 1; 
    padding: 0 15px;
    border-left: 1px solid #ccc; 
    height: 100%; 
}

/* Remove a linha da primeira coluna */
.activity-card .card-section:first-child {
    border-left: none;
}

/* Estilo específico para a coluna Nome */
.card-name {
    flex: 0 0 250px; 
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
}

.card-details-1,
.card-details-2 {
    
    font-size: 1.09rem;
}

.card-section p {
    margin-bottom: 5px;
    line-height: 1.4;
}

.card-section strong {
    
    color: #555;
}

.detail-value {
    font-weight: 400;
    color: #333;
}


@media (max-width: 992px) {
    .activity-card {
        flex-direction: column; 
        align-items: flex-start;
    }

    .card-name {
        flex: auto; 
        margin-bottom: 15px;
    }

    .card-section {
        width: 100%;
        padding: 10px 0;
        border-left: none;
        border-top: 1px solid #ccc; 
    }

    .activity-card .card-section:first-child {
        border-top: none;
    }
}

/* botão cadastrar a direita */
.cadastrar-button-area {
    display: flex;            
    justify-content: flex-end;
    margin-bottom: 20px;      

}



.section-title {
    margin-bottom: 10px; 
}

.menu__links {
    display: flex;
    align-items: center;
    list-style: none; 
    padding: 0;
    margin: 0;
}


.menu__button-area {
    margin-left: auto;
}





